<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/user">
    <label>Username:<input type="text" name="username"></label>
    <br>
    <label>Email:<input type="email" name="email"></label>
    <br>
    <label>Password:<input type="password" name="password"></label>
    <br>
    <label>Enter Password Again:<input type="password" name="password2"></label>
    <br>
    <input type="submit" value="Sign up!">
</form>

</body>
</html>